ErrorDocument 403 /evaluacion-docente/public/views/Seguridad/index.php?action=error403
ErrorDocument 404 /evaluacion-docente/public/views/Seguridad/index.php?action=error404
ErrorDocument 500 /evaluacion-docente/public/views/Seguridad/index.php?action=error500

Options +FollowSymlinks
DirectoryIndex index.php
RewriteEngine On
RewriteBase /evaluacion-docente

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^public/views/(.*)$ public/views/Seguridad/index.php?action=error404 [L]

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^(.*)/(.*)/(.*)$ public/views/$1/index.php?action=$2&id=$3 [QSA,L]

